<footer class="footer">
	<div class="container">
		<div class="flex footer-block">
			<div>
				<img src="img/footer-logo.svg" class="footer-logo">
				<div class="flex flex-justify-sb footer-app">
					<a href="javascript:void(0)">
						<img src="img/appstore.svg">
					</a>
					<a href="javascript:void(0)">
						<img src="img/google-play.svg">
					</a>
				</div>
			</div>
			<div class="footer-menu">
				<a class="footer-link" href="javascript:void(0)">Симулятор экзамена ПДД</a>
				<a class="footer-link" href="javascript:void(0)">Билеты</a>
				<a class="footer-link" href="javascript:void(0)">Экзамены</a>
			</div>
			<div class="footer-menu">
				<a class="footer-link" href="javascript:void(0)">Темы</a>
				<a class="footer-link" href="javascript:void(0)">Теория ПДД</a>
			</div>
			<div class="footer-menu">
				<a class="footer-link" href="javascript:void(0)">Пользовательское соглашение</a>
				<a class="footer-link" href="javascript:void(0)">Поддержка</a>
			</div>
		</div>
		
		<div class="copyright">©  2019 МегаПДД, все права защищены</div>
	</div>
</footer>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<script src="js/build.js"></script>
