<header class="header">
	<div class="container">
		<div class="flex">
			<div class="header-btn"></div>
			<a href="javascript:void(0)" class="header-logo">Мега<span>ПДД</span></a>
			<ul class="header-menu">
				<li class="header-link"><a href="javascript:void(0)">Симулятор экзамена ПДД</a></li>
				<li class="header-link"><a href="javascript:void(0)">Теория ПДД</a></li>
				<li class="header-link"><a href="javascript:void(0)"><span class="login-link">Войти</span></a></li>
			</ul>

			<div class="header-log-in"></div>
			<div class="header-close-menu"></div>
		</div>
	</div>
</header>