<header class="header">
    <div class="container">
        <div class="flex">
            <div class="header-btn"></div>
            <a href="javascript:void(0)" class="header-logo">Мега<span>ПДД</span></a>
            <ul class="header-menu">
                <li class="header-link"><a href="javascript:void(0)">Симулятор экзамена ПДД</a></li>
                <li class="header-link"><a href="javascript:void(0)">Теория ПДД</a></li>
                <li class="header-link lk"><span class="icon icon-user"></span>Иван Иванов
                    <ul class="lk-list">
                        <li class="lk-item">
                            <a href="javaacript:void(0)"><span class="icon icon-star"></span>Избранные видео </a>
                        </li>
                        <li class="lk-item">
                            <a href="javaacript:void(0)"><span class="icon icon-exit"></span>Выход</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="header-lk"></div>
            <ul class="lk-list">
                <li class="lk-item">
                    <a href="javaacript:void(0)"><span class="icon icon-star"></span>Избранные видео </a>
                </li>
                <li class="lk-item">
                    <a href="javaacript:void(0)"><span class="icon icon-exit"></span>Выход</a>
                </li>
            </ul>
            
            <div class="header-close-menu"></div>
        </div>
    </div>
</header>