	<div class="modal show" id="modal-time-out">
		<div class="modal-body">
			<div class="modal-close"></div>
			<div class="h3 modal-title">Время прохождения билета истекло!</div>
			<a href="javascript:void(0)" class="btn btn-green modal-btn">пройти еще раз</a>
			<a href="javascript:void(0)" class="modal-link">Перейти к списку билетов</a>
		</div>
	</div>

	<div class="modal show" id="modal-exam-passed">
		<div class="modal-body">
			<div class="modal-close"></div>
			<div class="h3 modal-title">Вы не сдали экзамен! <br>Время прохождения истекло.</div>
			<a href="javascript:void(0)" class="btn btn-green modal-btn">пройти еще раз</a>
			<a href="javascript:void(0)" class="modal-link">Перейти к списку билетов</a>
		</div>
	</div>