<div class="sly">
	<div class="slider-number">
		<div class="slider-number__item passed">1</div>
		<div class="slider-number__item passed">2</div>
		<div class="slider-number__item passed">3</div>
		<div class="slider-number__item passed">4</div>
		<div class="slider-number__item passed">5</div>
		<div class="slider-number__item passed">6</div>
		<div class="slider-number__item fail">7</div>
		<div class="slider-number__item">8</div>
		<div class="slider-number__item">9</div>
		<div class="slider-number__item">10</div>
		<div class="slider-number__item">11</div>
		<div class="slider-number__item">12</div>
		<div class="slider-number__item">13</div>
		<div class="slider-number__item">14</div>
		<div class="slider-number__item">15</div>
		<div class="slider-number__item">16</div>
		<div class="slider-number__item">17</div>
		<div class="slider-number__item">18</div>
		<div class="slider-number__item">19</div>
		<div class="slider-number__item">20</div>
		<div class="slider-number__item">21</div>
		<div class="slider-number__item">22</div>
		<div class="slider-number__item">23</div>
		<div class="slider-number__item">24</div>
		<div class="slider-number__item">25</div>
	</div>

	<div class="sly-arrow"></div>
</div>