*
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  font-family: "Open Sans"
  overflow-x: hidden
  margin: 0

.container
  width: 1145px
  margin: auto

.flex
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex

.flex-justify-sb
  -webkit-justify-content: space-between
  -moz-justify-content: space-between
  -ms-justify-content: space-between
  -o-justify-content: space-between
  justify-content: space-between

.flex-justify-start
  -webkit-justify-content: flex-start
  -moz-justify-content: flex-start
  -ms-justify-content: flex-start
  -o-justify-content: flex-start
  justify-content: flex-start

.flex-align-center
  -webkit-align-items: center
  align-items: center

.flex-wrap
  -webkit-flex-wrap: wrap
  flex-wrap: wrap

.text-center
  text-align: center

.hide
  display: none

.show
  display: block

.title
  margin-bottom: 20px

.noscroll
  overflow: hidden

.header
  background-color: $blue-color
  padding: 15px 0 16px 0
  &-logo
    text-decoration: none
    color: $white-color
    font-weight: 700
    font-size: 24px
    line-height: 29px
    font-family: 'Lato', sans-serif
    span
      color: $yellow-color
  &-menu
    list-style: none
    padding: 0
    margin: 0
    margin-left: auto
    display: flex
    align-items: center
  &-link
    display: block
    margin-right: 50px
    cursor: pointer
    color: $white-color
    font-size: 14px
    line-height: 16px
    &:last-child
      margin-right: 0
    a
      text-decoration: none
      color: $white-color
      font-size: 14px
      line-height: 16px
      display: block
      font-weight: 
      font-family: "Roboto"
    .login-link
      padding: 7px 15px 8px 15px
      border: 1px solid $white-color
      border-radius: 3px
      display: block
      width: fit-content
  &-log-in
    margin-left: auto
    height: 28px 
    width: 30px
    background-image: url('../img/web-log-in.svg')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    cursor: pointer
    display: none
  &-close-menu
    height: 21px 
    width: 21px
    background-image: url('../img/close-menu.svg')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    cursor: pointer
    display: none
    margin-top: 5px
    margin-left: auto
  &-btn
    height: 18px 
    width: 30px
    background-image: url('../img/header-menu.svg')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    display: none
    margin-right: 18px
    margin-top: 7px
    cursor: pointer
  &-lk
    height: 28px 
    width: 28px
    background-image: url('../img/lk.svg')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    cursor: pointer
    display: none
    margin-top: 5px
    margin-left: auto
  .lk
    display: flex
    align-items: center
    position: relative
    &-list
      display: none
      position: absolute
      top: 30px
      left: 0
      width: 143px
      background: #FFFFFF
      border-radius: 5px
      padding: 11px 7px
      &:hover
        display: block
      &:before
        content: ''
        position: absolute
        height: 5px
        width: 0px
        left: 0
        right: 0
        margin: auto
        top: -20px
        border: 10px solid transparent
        border-bottom: 10px solid $white-color

    &-item
      display: flex
      align-items: center
      margin-bottom: 5px
      &:last-child
        margin-bottom: 0
      a
        font-size: 13px
        line-height: 15px
        color: #4F4F4F
        display: inline-block
        font-weight: 400
        font-family: "Roboto"
        text-decoration: none
      a:hover
        text-decoration: underline
    &:hover
      .lk-list
        display: block
  .icon
    display: inline-block
    background-repeat: no-repeat
    background-position: center
    background-size: contain
  .icon-user
    height: 24px
    width: 24px
    background-image: url("../img/user.svg")
    margin-right: 10px
    background-size: cover
    margin-top: 5px
  .icon-star
    height: 12px
    width: 12px
    background-image: url("../img/star.svg")
    margin-right: 7px
  .icon-exit
    height: 12px
    width: 12px
    background-image: url("../img/exit.svg")
    margin-right: 7px

.footer
  background-color: $white-color
  padding: 24px 0 30px 0
  &-menu
    margin-right: 80px
    margin-top: 9px
    &:last-child
      margin-right: 0
    &:nth-child(2)
      margin-left: auto
  &-link
    font-family: "Roboto"
    font-weight: 400
    font-size: 15px
    line-height: 18px
    margin-bottom: 12px
    color: $gray-color
    display: block
    text-decoration: none
    cursor: pointer
    &:hover
      text-decoration: underline
    &:last-child
      margin-bottom: 0
  &-logo
    margin-bottom: 26px
  &-app
    width: 287px
    min-width: 287px
    margin-right: auto
    a
      display: block
    img
      width: 135px


.copyright
  margin-top: 28px
  padding-top: 22px
  border-top: 1px solid $light-gray-color
  font-family: "Roboto"
  font-size: 13px
  line-height: 14px
  color: $light-gray-color



//main
.main-banner
  background: $blue-color
  padding-top: 49px
  padding-bottom: 50px
  color: $white-color
  .container
    position: relative
  &__block
    width: 500px
    .text
      font-size: 17px
      line-height: 24px
      padding-left: 98px
      position: relative
      margin-bottom: 35px
      margin-top: 29px
      color: #E9EBEE
      &:before
        content: ''
        display: block
        width: 66px
        height: 2px
        background: $yellow-color
        position: absolute
        top: 10px
        left: 0
    .btn-green
      margin-left: 98px
  &__img
    width: 617px
    position: absolute
    right: 0
    top: 18px


.course
  padding-top: 98px
  padding-bottom: 47px
  .btn-green
    display: none
  .slick-slide
    width: 361px
    margin: 0 13px
    &:focus
      outline: none
  &-cards
    width: 100%
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
  &-card
    width: 361px
    background: $white-color
    border-radius: 10px
    height: 321px
    text-align: center
    position: relative
    padding: 0 18px
    &__img
      display: block
      margin: auto
    &__text
      max-width: 312px
      margin: auto
    .btn-small
      position: absolute
      bottom: 25px
      left: 0
      right: 0
      margin: auto
  &-card1
    .course-card__title
      margin-bottom: 15px
  &-card2
    .course-card__title
      margin-bottom: 25px
  &-card3
    .course-card__title
      margin-bottom: 15px
    .course-card__text
      width: 250px
  &-info
    margin-top: 18px
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
  &-text
    margin-top: 80px
    width: 646px
    .h2
      margin-bottom: 33px
    .text
      font-size: 17px
      line-height: 24px
      padding-left: 98px
      position: relative
      color: $gray-color
      margin-bottom: 40px
      &:before
        content: ''
        display: block
        width: 66px
        height: 2px
        background: $green-color
        position: absolute
        top: 10px
        left: 0
    .btn-green
      margin-left: 98px
      display: block
  &-videos
    margin-left: auto
    width: 468px
    img
      width: 100%
      height: auto

.theory
  background: $white-color
  margin-top: 58px
  &-block
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
    -webkit-align-items: flex-end
    align-items: flex-end
  &-img
    width: 535px
  &-text
    width: 554px
    .h2
      margin-bottom: 33px
      color: #030303
    .text
      color: $gray-color
      margin-bottom: 41px
    .btn-blue
      margin-bottom: 23px


.license
  margin-bottom: 19px
  margin-top: 54px
  &-block
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
    -webkit-align-items: center
    align-items: center
    background: $blue-color
    border-radius: 10px
    padding: 42px 84px 41px 68px
    color: $white-color
    .h2
      margin-bottom: 17px
    .text
      margin-bottom: 28px



.system-page
  background: $bg-color
  min-height: calc(100vh - 300px)
  padding-top: 91px
  &__comeback
    font-family: "Roboto"
    font-size: 13px
    line-height: 15px
    color: #030303
    text-decoration: none
    margin-bottom: -19px
    display: block
    span
      margin-right: 17px
      display: inline-block
      height: 14px
      width: 7px
      background-image: url('../img/arrow-left.svg')
      background-position: center
      background-repeat: no-repeat
      background-size: contain
      vertical-align: sub
    &:hover
      text-decoration: underline

.form
  &__title
    text-align: center
    font-family: "Roboto"
    font-weight: 600
    text-transform: uppercase
    font-size: 24px
    line-height: 34px
    margin-bottom: 22px

.form
  &-login
    width: 367px
    margin: auto
    padding-bottom: 90px
    form
      background: $white-color
      border-radius: 10px
      padding: 34px
  &-checkin
    width: 367px
    margin: auto
    padding-bottom: 90px
    form
      background: $white-color
      border-radius: 10px
      padding: 34px
    .form-footer:before
      display: none
    .form-footer a
      width: 100%
      text-align: center!important

  &-item
    margin-bottom: 15px
  &-footer
    margin-top: 30px
    position: relative 
    &:before
      content: ''
      display: block
      height: 100%
      width: 1px
      border-right: 1px solid #030303
      position: absolute
      left: 0
      right: 0
      margin: auto
      top: 0
    a
      text-decoration: underline
      cursor: pointer
      font-size: 16px
      font-weight: 500
      line-height: 19px
      color: #030303
      font-family: "Roboto"
      display: block
      width: 42%
      &:hover
        text-decoration: underline
      &:nth-child(1)
        text-align: right
      &:nt-child(2)
        text-align: left   

  &-input
    width: 100%
    height: 44px
    background: $white-color
    border: 1px solid #E1E1E1
    box-sizing: border-box
    border-radius: 4px
    padding: 0 31px
    &:focus
      box-shadow: none
      outline: none
    &::placeholder
      font-family: "Roboto"
      font-size: 15px
      line-height: 18px
      color: #999999

  &-btn
    width: 100%
    height: 44px
    background: $green-color
    color: $white-color
    text-transform: uppercase
    font-size: 15px

  &-text
    margin-bottom: 26px
    text-align: center
    font-size: 15px
    line-height: 18px
    font-family: "Roboto"
    color: $light-gray-color

  &-success
    width: fit-content
    margin: auto
    padding-bottom: 90px
    img
      margin: auto
      display: block
    &__text
      font-family: "Roboto";
      font-size: 16px
      font-weight: 400
      line-height: 22px
      text-align: center
      color: #030303
      a
        display: block
        color: $green-color
        text-decoration: underline
        cursor: pointer

  &-group
    position: relative
    .form-input
      width: 294px
      padding-right: 40px
      height: 50px
    .form-btn
      width: 98px
      position: absolute
      top: 0
      right: 0

.new-password
  margin-top: 26px
  display: none
  &.show
    display: block
  p
    margin-top: 23px
    font-size: 15px
    line-height: 18px
    font-family: "Roboto"
    text-align: center
    color: #999999



@media screen and (max-width: 1200px)
  .container
    width: 960px

  .footer
    &-menu
      margin-right: 50px
  
  .main-banner
    &__block
      width: 500px
    &__img
      width: calc(960px - 500px)
      top: auto
      bottom: -70px

  .course
    padding-top: 98px
    padding-bottom: 47px
    &-text
      margin-top: 50px
      width: 545px
    &-videos
      width: 390px

  .theory
    &-img
      width: 450px
    &-text
      width: 480px



@media screen and (max-width: 992px)
  .container
    width: 720px

  .header
    padding: 16px 0 16px 0
    position: relative
    &-menu
      display: none
      position: absolute
      top: 60px
      left: 0
      width: 100%
      height: 100vh
      background: $blue-color
      z-index: 5
      padding-top: 10px
      &.show
        display: block
    &-link
      max-width: 720px
      margin: auto
      display: block
      margin-bottom: 12px
      padding: 7px 0
      &:last-child
        margin-right: auto
        display: none
      .login-link
        margin-left: 0
        margin-right: auto
    &-btn
      display: block
    &-log-in
      display: block
    &-lk
      display: block
      margin-top: -2px
      &:hover + .lk-list
        display: block
    .lk-list
      right: 15px
      left: auto
      top: 50px
      z-index: 5
      &:before
        right: 7px
        left: auto

  .footer
    background-color: $white-color
    padding: 15px 5px 21px 5px
    &-block
      display: block
    &-menu
      margin-top: 0px
      width: 32.5%
      margin-right: 0
      display: inline-block
      vertical-align: top
    &-link
      &:last-child
        margin-bottom: 12px
    &-logo
      margin-bottom: 17px
    &-app
      width: 287px
      min-width: 287px
      margin-bottom: 34px

  //main
  .main-banner
    padding-top: 21px
    padding-bottom: 0px
    .container
      position: relative
    &__block
      width: 100%
      text-align: center
      .text
        padding-left: 0px
        padding-top: 22px
        margin-bottom: 0px
        margin-top: 26px
        &:before
          top: 0
          right: 0
          margin: auto
      .btn-green
        display: none
    &__img
      position: relative
      width: 70%
      margin: auto
      display: block
      top: auto
      bottom: -40px

  .course
    padding-top: 58px
    .btn-green
      margin: auto
      margin-bottom: 58px
      display: block
    .container-full
      width: 100%
      padding: 0
    &-info
      margin-top: 18px
      display: block
      text-align: center
    &-text
      margin-top: 45px
      width: 100%
      .h2
        margin-bottom: 29px
      .text
        padding-left: 0px
        padding-top: 28px
        margin-bottom: 29px
        &:before
          top: 0
          right: 0
          left: 0
          margin: auto
      .btn-green
        margin-left: 0
        margin: auto
        margin-bottom: 28px
    &-videos
      margin-left: auto
      width: calc(100% - 30px)
      margin-left: auto
      margin-right: auto
      img
        width: 100%
        height: auto

  .theory
    margin-top: 29px
    &-block
      display: block
    &-img
      width: 100%
      margin-bottom: 30px
    &-text
      width: 100%
      text-align: center
      .h2
        margin-bottom: 23px
      .text
        margin-bottom: 23px
      .btn-blue
        margin: auto
        margin-bottom: 0px


  .license
    margin-bottom: 19px
    margin-top: 47px
    &-block
      display: block
      border-radius: 10px
      padding: 49px 10px 33px 10px
      text-align: center
      .h2
        margin-bottom: 36px
      .text
        margin-bottom: 39px
      .btn-green
        margin: auto
        margin-bottom: 20px
      img
        display: block
        margin: auto


@media screen and (max-width: 760px)
  .container
    width: 540px
  .main-banner
    &__img
      width: 100%
      bottom: -40px
  .header
    &-link
      max-width: 540px
  .system-page
    min-height: calc(100vh - 400px)
    padding-top: 41px
    &__comeback
      margin-bottom: 20px



@media screen and (max-width: 576px)
  .container
    width: calc(100% - 30px)
  .main-banner__block
    .h1
      font-size: 30px
      line-height: 34px
    .text
      font-size: 15px
      line-height: 21px
  .footer
    background-color: $white-color
    padding: 15px 5px 21px 5px
    &-block
      display: block
    &-menu
      margin-right: 0px
      margin-top: 0px
      width: 135px
      margin-right: 17px
      display: inline-block
      vertical-align: top
    &-link
      &:last-child
        margin-bottom: 12px
    &-logo
      margin-bottom: 17px
    &-app
      width: 287px
      min-width: 287px
      margin-bottom: 34px

  .header
    &-link
      width: 100%
      margin-left: 16px

  .course
    .slick-slide
      width: 300px
    &-card
      width: 300px
      height: 350px
      padding: 0 14px
      &__img
        display: block
        margin: auto
      &__text
        max-width: 270px
      .btn-small
        bottom: 29px
    &-card1
      .course-card__title
        margin-bottom: 15px
    &-card2
      .course-card__title
        margin-bottom: 25px
    &-card3
      .course-card__title
        margin-bottom: 15px
      .course-card__text
        width: 250px
  
  .system-page
    .container
      padding: 0

  .form
    &__title
      font-size: 28px
      line-height: 34px
      margin-bottom: 26px

  .form
    &-login
      width: 100%
      max-width: 367px
      form
        padding: 34px 15px
    &-checkin
      width: 100%
      max-width: 367px
      form
        padding: 34px 15px
   
    &-footer
      margin-top: 80px
      a
        width: 47%

    &-group
      .form-input
        width: 100%
      .form-btn
        width: 67px
        min-width: 67px
        margin-left: 7px

  .new-password
    margin-top: 26px
  .course-text
    width: calc(100% - 30px)
    margin-right: auto
    margin-left: auto


@media screen and (max-width: 760px) and (orientation: landscape)
  .system-page
    padding: 100px 0

