/*course*/
.courses
	&__wrap
		background: $white-color
		border-radius: 10px
		padding: 33px
	&__header
		margin-bottom: 40px
		-webkit-align-items: center
		align-items: center
		&-select
		&-info
			margin-left: auto
		&-option
			height: fit-content
			padding: 0 20px
			font-family: "Roboto"
			font-weight: 500
			font-size: 13px
			line-height: 30px
			color: #030303
			text-transform: uppercase
			span
				color: $green-color
				font-size: 22px
			&:nth-child(2)
				border-right: 1px solid #DBDBDB
				border-left: 1px solid #DBDBDB
		.btn-green
			width: 200px
			margin-left: 59px
	&__title
		margin-bottom: 20px
	&__text
		font-family: "Roboto"
		font-size: 16px
		line-height: 22px
		color: $gray-color
		margin-bottom: 31px
	&__info
		width: 100%
		-webkit-align-items: center
		align-items: center
	&__item
		margin-bottom: 11px
		background: #F4F4F4
		border-radius: 5px
		overflow: hidden
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		align-items: center
		cursor: pointer
		text-decoration: none
		transition: 0.25s
		&-image
			height: 88px
			width: 152px
			min-width: 152px
			margin-right: 51px
			overflow: hidden
			img
				width: 100%
				height: auto
		&-title
		&-number
			width: 67px
			min-width: 67px
			height: 40px
			border-radius: 4px
			margin-left: auto
			font-family: "Open Sans"
			font-weight: bold
			font-size: 13px
			line-height: 40px
			border: 1px solid #4F4F4F
			text-align: center
			color: #4F4F4F
		&-time
			font-family: "Open Sans"
			font-weight: bold
			font-size: 13px
			line-height: 18px
			text-transform: uppercase
			color: #030303
			width: 130px
			min-width: 130px
			text-align: center
		&:hover
			background: #E9EBEE
			transition: 0.25s

		&.passed
			.courses__item-number
				background: $green-color
				border-color: $green-color
				color: $white-color
		&.started
			.courses__item-number
				background: $orange-color
				border-color: $orange-color
				color: $white-color
	&__list
		&-more
			display: block
			font-size: 14px
			font-weight: 600
			line-height: 16px
			color: #030303
			margin: 30px auto 10px auto
			cursor: pointer
			width: fit-content
			font-family: "Roboto"

.course
	&__max
		display: block
	&__min
		display: none
	&__wrap
		background: $white-color
		border-radius: 10px
		padding: 20px 32px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-justify-content: space-between
		-moz-justify-content: space-between
		-ms-justify-content: space-between
		-o-justify-content: space-between
		justify-content: space-between
	&__list
		width: 392px
		padding-top: 15px
	&__item
		padding: 18px 27px
		background: $white-color
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		align-items: center
		border-top: 1px solid #E9EBEE
		cursor: pointer
		&:first-child
			border-top: none
		&-title
			font-family: "Roboto"
			font-weight: normal
			font-size: 16px
			line-height: 22px
			color: #000000
		&-number
			min-width: 67px
			width: 67px
			height: 40px
			border-radius: 4px
			margin-left: auto
			font-family: "Open Sans"
			font-weight: bold
			font-size: 13px
			line-height: 40px
			border: 1px solid #4F4F4F
			text-align: center
			color: #4F4F4F
		&.passed
			.course__item-number
				border-color: $green-color
				background: $green-color
				color: $white-color
		&.started
			.course__item-number
				border-color: $orange-color
				background: $orange-color
				color: $white-color
		&.active
			background: #E9EBEE
			border-radius: 5px
		&:hover
			background: #F4F4F4
			border-radius: 5px
	&__content
		width: 653px
		&-header
			padding-bottom: 7px
			display: flex
			align-items: center
			.btn-dots
				height: 20px
				width: 4px
				display: none
				background-position: center
				background-repeat: no-repeat
				background-size: contain
				background-image: url('../img/dots.svg')
				cursor: pointer
			.btn-favorite
				width: fit-content
				margin-left: auto
				margin-right: 0
	&__title
		margin-bottom: 25px
	&__subtitle
		margin-top: -15px
		color: #4F4F4F
		margin-bottom: 10px
	&__text
		font-family: "Roboto"
		font-size: 16px
		line-height: 22px
		color: $gray-color
		margin-bottom: 25px
	&__video
		position: relative
		padding-bottom: 56.25%
		padding-top: 25px
		height: 0
		overflow: hidden
		margin-bottom: 18px
		iframe
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
	&__control
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		align-items: center
		-webkit-justify-content: space-between
		-moz-justify-content: space-between
		-ms-justify-content: space-between
		-o-justify-content: space-between
		justify-content: space-between
		&-number
			width: 67px
			min-width: 67px
			height: 40px
			border-radius: 4px
			margin-left: auto
			font-family: "Open Sans"
			font-weight: bold
			font-size: 13px
			line-height: 40px
			border: 1px solid #4F4F4F
			text-align: center
			color: #4F4F4F
			margin-right: 18px
			&.started
				color: $white-color
				background: $orange-color
				border-color: $orange-color
		&-text
			font-family: "Roboto"
			font-weight: normal
			font-size: 16px
			line-height: 22px
			color: $gray-color
		.btn
			width: 130px
			min-width: 130px
			display: block
			margin-left: 20px

.favorite
	&__title
		text-align: center
		margin-bottom: 39px
	&__block
		-webkit-flex-wrap: wrap
		flex-wrap: wrap
	&__item
		width: 361px
		height: 304px
		border-radius: 10px
		overflow: hidden
		margin-right: 31px
		background: $white-color
		margin-bottom: 30px
		&:nth-child(3n)
			margin-right: 0
		.btn-favorite
			position: absolute
			top: 15px
			right: 15px

	&__info
		position: relative
		height: 125px
		&-wrap
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
			height: fit-content
			padding: 0 20px
	&__theme
		font-family: "Roboto"
		font-weight: bold
		font-size: 18px
		line-height: 21px
		color: $black-color
		display: block
		cursor: pointer
		text-decoration: none
	&__subscribe
		display: block
		width: 100%
		margin-top: 13px
		padding-top: 13px
		border-top: 1px solid #E9EBEE
		font-family: "Roboto"
		font-weight: normal
		font-size: 13px
		line-height: 15px
		color: #4F4F4F

@media screen and (max-width: 1200px)
	.favorite
		&__item
			margin-right: auto
			margin: auto
			margin-bottom: 24px
			&:nth-child(3n)
				margin-right: auto
	.courses
		&__wrap
			padding: 33px 20px
		&__header
			margin-bottom: 30px
			.btn-green
				margin-left: 39px
		&__item
			&-image
				margin-right: 21px
				min-width: 152px
			&-time
				width: 90px
				min-width: 90px
	.course
		&__wrap
			padding: 20px 15px
		&__list
			width: 370px
			min-width: 370px
			padding-top: 15px
		&__item
			padding: 18px 7px
			width: 100%
			&-title
				margin-right: 10px
			&-number
				min-width: 67px
		&__content
			width: calc(920px - 390px)
		&__video
			width: 100%
			height: auto
			margin-bottom: 18px
			img
				width: 100%
				height: auto
@media screen and (max-width: 992px)
	.favorite
		&__title
			margin-bottom: 24px
		&__block
			-webkit-flex-wrap: wrap
			flex-wrap: wrap
		&__item
			width: 328px
			height: 293px
		&__video
			width: 100%
			height: 165px
		&__info
			height: 128px
			&-wrap
				padding: 0 18px
	.courses
		&__wrap
			padding: 23px 20px
		&__header
			-webkit-flex-direction: column
			flex-direction: column
			&-info
				margin: 21px auto
			.btn-green
				width: 263px
				margin: auto
		&__title
			margin-bottom: 20px
			text-align: center
		&__text
			text-align: center
			margin-bottom: 31px
		&__item
			&-image
				margin-right: 20px
			&-title
				font-size: 16px
				line-height: 20px
	
	.course
		&__wrap
			padding: 20px 20px
			-webkit-flex-wrap: wrap
			flex-wrap: wrap
			position: relative
		&__max
			display: none
		&__min
			display: block
			text-align: center
		&__list
			width: 100%
			padding-top: 15px
			display: none
			position: absolute
			top: 0
			height: 100%
			left: 0
			z-index: 5
			height: 100%
			background: $white-color
			min-width: auto
			&.show
				display: block
		&__list-close
			height: 18px
			width: 18px
			display: block
			margin-right: 18px
			margin-left: auto
			background-image: url('../img/close2.svg')
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			margin-bottom: 15px
		&__item
			padding: 18px 27px
			&.active
				border-radius: 0
			
		&__content
			width: 100%
			&-header
				padding-bottom: 7px
				margin-bottom: 20px
				.btn-dots
					display: block
				.btn-favorite
					width: fit-content
					margin-left: auto
					margin-right: 0
		&__title
			margin-bottom: 0px
			text-align: center
		&__title-main
			background: #F4F4F4
			border-radius: 0px 0px 10px 10px
			min-height: 73px
			display: flex
			align-items: center
			text-align: center
			justify-content: center
			margin-bottom: 15px
		&__title-wrap
			background: #F4F4F4
			border-radius: 0px 0px 10px 10px
			padding: 17px
			margin-bottom: 15px
		&__subtitle
			margin-top: 10px
			color: #4F4F4F
			margin-bottom: 0
			text-align: left
			border-top: 1px solid #E9EBEE
			padding: 10px 0 
		&__text
			font-family: "Roboto"
			font-size: 16px
			line-height: 22px
			color: $gray-color
			margin-bottom: 25px
		&__video
			border-radius: 10px 10px 0 0
			margin-bottom: 0
		&__control
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			-webkit-align-items: center
			align-items: center
			-webkit-justify-content: space-between
			-moz-justify-content: space-between
			-ms-justify-content: space-between
			-o-justify-content: space-between
			justify-content: space-between
			&-number
				width: 67px
				min-width: 67px
				height: 40px
				border-radius: 4px
				margin-left: 0
				font-family: "Open Sans"
				font-weight: bold
				font-size: 13px
				line-height: 40px
				border: 1px solid #4F4F4F
				text-align: center
				color: #4F4F4F
				margin-right: 12px
				&.started
					color: $white-color
					background: $orange-color
					border-color: $orange-color
			&-text
				font-family: "Roboto"
				font-weight: normal
				font-size: 16px
				line-height: 22px
				color: $gray-color
		.btn
			width: 263px
			min-width: 263px
			margin-bottom: 15px
			display: block
			margin-left: auto
			margin-right: auto


@media screen and (max-width: 760px)
	.courses
		&__wrap
			padding: 21px 16px
		&__title
			margin-bottom: 17px
			font-size: 18px
			line-height: 25px
		&__text
			font-size: 15px
			line-height: 18px
		&__info
			padding: 0 18px
			-webkit-flex-wrap: wrap
			flex-wrap: wrap
			height: 128px
			padding-bottom: 5px
		&__item
			border-radius: 10px
			-webkit-flex-wrap: wrap
			flex-wrap: wrap
			width: 328px
			height: 293px
			margin: auto
			margin-bottom: 18px
			-webkit-align-items: flex-start
			align-items: flex-start
			&-title
				margin-top: 10px
				height: 50px
				width: 100%
				border-bottom: 1px solid #999999
			&-image
				height: 165px
				width: 100%
				min-width: auto
				margin-right: 0px
			&-number
				margin-right: auto
				margin-left: 0
			&-time
				width: fit-content
				min-width: fit-content
	.favorite
		&__item
			min-width: 320px
			max-width: 400px
			width: calc(100% - 30px)




@media screen and (max-width: 576px)
	.courses
		padding-top: 0
		.container
			width: 100%
			border-radius: 0
		&__wrap
			padding: 21px 16px
			border-radius: 0
		&__header
			&-select
				width: 100%
				max-width: 328px
			&-info
				max-width: 328px
				width: 100%
			&-option
				font-size: 13px
				padding: 0 0 0 0
				width: 28%
				&:last-child
					text-align: right
					width: 37%
				&:nth-child(2)
					text-align: center
					width: 35%
				span
					font-size: 19px
				&:first-child
					padding-left: 0
				&:last-child
					padding-right: 0
	.course
		&__content-header
			margin-bottom: 20px
		.container
			width: 100%
			border-radius: 0
	
		&__wrap
			border-radius: 0
			padding-right: 16px
			padding-left: 16px
		&__title
			text-align: left
			font-size: 16px
			line-height: 22px
		&__text
			margin: auto
			font-size: 15px
			line-height: 18px
			margin-bottom: 20px
			text-align: center
			max-width: 400px
		.btn
			width: 263px
			min-width: 263px
			margin: auto
			margin-bottom: 20px
		.courses__item
			width: 100%
			max-width: 400px
			min-width: auto
