.btn
	display: block
	text-decoration: none
	border: none
	border-radius: 4px
	text-align: center
	text-transform: uppercase
	font-family: "Roboto"
	font-weight: bold
	font-size: 14px
	cursor: pointer
	&:focus
		outline: none
		box-shadow: none
	&:hover, &:focus
		background-color: #3BCE38

.btn-green
	height: 50px
	line-height: 50px
	width: 263px
	background: $green-color
	color: $white-color

.btn-blue
	height: 50px
	line-height: 50px
	width: 263px
	background: $blue-color
	color: $white-color
	&:hover, &:focus
		background-color: #041973

.btn-small
	height: 40px
	line-height: 40px
	width: 180px
	background: $blue-color
	color: $white-color
	font-size: 13px
	&:hover, &:focus
		background-color: #041973

.btn-favorite
	position: relative
	height: 20px
	width: 20px
	&__input
		padding: 0
		height: initial
		width: initial
		margin-bottom: 0
		display: none
		cursor: pointer
		&:checked + .btn-favorite__label1
			.far
				display: none
			.fas
				display: block
	&__label1
		display: block
		position: relative
		height: 20px
		width: 20px
		text-align: center
		line-height: 20px
		i
			color: $green-color
			font-size: 18px
			line-height: 20px
		.far
			display: block
		.fas
			display: none


.breadcrumbs
	margin-top: -20px
	&-list
		margin-bottom: 22px
		list-style: none
		padding: 0
	&-item
		display: inline-block
		position: relative
		padding-right: 20px
		font-family: "Roboto"
		font-size: 13px
		line-height: 15px
		color: #030303
		&:after
			content: '/'
			margin: 0 7px
			display: inline-block
			top: 0
			right: 0
			position: absolute
		&:last-child
			font-weight: bold
			&:after
				display: none
			.breadcrumbs-link
				font-weight: bold
	&-link
		display: block
		cursor: pointer
		text-decoration: none
		font-family: "Roboto"
		font-size: 13px
		line-height: 15px
		color: #030303

.content-page
	background: $bg-color
	padding-top: 48px
	padding-bottom: 74px

.select2-container
	width: 255px!important
	height: 40px
	.select2-selection
		height: 40px
		border: 1px solid #DBDBDB
		&:focus 
			outline: none
			box-shadow: none
		&__rendered
			line-height: 38px!important
			color: #000000!important
			text-align: left
			padding-left: 20px!important
			&:focus 
				outline: none
				box-shadow: none
		&__arrow
			height: 36px!important
			background-image: url('../img/arrow-down.svg')
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			width: 14px!important
			margin-right: 7px
			b
				border: none!important
.select2-container--open
	.select2-selection__arrow
		transform: rotate(180deg)

.select2-dropdown
	margin-top: 10px
	border-radius: 5px!important
	overflow: hidden
	padding: 2px 0
	border: 1px solid #DBDBDB
	border-top: 1px solid #dbdbdb!important
.select2-results
	&__option
		height: 44px
		font-family: "Roboto"
		font-size: 13px
		line-height: 18px
		color: #030303
		padding: 13px 24px
		position: relative
		&:before
			content: ''
			display: block
			width: 80%
			height: 1px
			border-bottom: 1px solid rgba(62, 103, 214, 0.06)
			position: absolute
			bottom: 0
			left: 0
			right: 0
			margin: auto 
		&:last-child:before
			display: none
		&:hover
			background-color: rgba(62, 103, 214, 0.06)!important
		&[aria-selected="true"]
			background-color: rgba(62, 103, 214, 0.06)!important
	&__option--highlighted
		background-color: rgba(62, 103, 214, 0.06)!important
		color: inherit!important


.tab
	padding-top: 30px
	padding-bottom: 20px
	background: $white-color
	border-radius: 0px 10px 10px 10px
	padding-left: 26px
	margin-bottom: 20px
	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-flex-wrap: wrap
		flex-wrap: wrap
	&__title
		line-height: 40px
	&__header
		position: relative
		margin-bottom: 27px
		text-align: center
		&-select
			position: absolute
			left: 0
			top: 0
		.come-back
			position: absolute
			top: 14px
			left: 0
			padding-left: 24px
			font-family: "Roboto"
			font-size: 13px
			line-height: 15px
			color: #030303
			text-decoration: none
			cursor: pointer
			font-weight: 400
			&:before
				content: ''
				display: block
				height: 14px
				width: 7px
				position: absolute
				top: 0
				left: 6px
				background-position: center
				background-repeat: no-repeat
				background-size: contain
				background-image: url('../img/arrow-left.svg')

	&__question
		padding: 0 33px 0 6px
		.btn-green
			margin: auto!important
			margin-top: 26px

	.link-more
		display: none
		width: fit-content
		cursor: pointer
		font-family: "Roboto"
		font-weight: 500
		font-size: 14px
		line-height: 16px
		text-decoration-line: underline
		color: #030303
		margin: 10px auto
.timer
	width: 120px
	text-align: center
	height: 40px
	line-height: 38px
	border-radius: 5px
	border: 1px solid #DBDBDB
	font-family: "Roboto"
	font-size: 13px
	color: #999999
	position: absolute
	top: 0
	right: 32px
.tab-nav
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	&__item
		width: 263px
		height: 50px
		margin-right: 10px
		border-radius: 10px 10px 0px 0px
		text-align: center
		font-family: "Roboto"
		font-size: 14px
		line-height: 16px
		text-transform: uppercase
		background: $light-gray-color
		cursor: pointer
		box-sizing: border-box
		color: $white-color
		position: relative
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
  		align-items: center
		&.active
			background: $blue-color
		&.tab-ticket
			.tab-nav__icon
				background-image: url('../img/Icon-1.svg')
		&.tab-exam
			.tab-nav__icon
				background-image: url('../img/Icon-2.svg')
		&.tab-question
			.tab-nav__icon
				background-image: url('../img/Icon-3.svg')
	&__icon
		display: block
		height: 50px
		width: 50px
		background-position: center
		background-repeat: no-repeat
		background-size: contain
	&__text
		margin-left: 20px

.ticket
	width: 120px
	height: 60px
	border-radius: 5px
	background: #F4F4F4
	text-align: center
	display: block
	margin-right: 19px
	margin-bottom: 20px
	text-decoration: none
	cursor: pointer
	padding-top: 9px
	transition: 0.25s
	&:hover
		background: #E9EBEE
		transition: 0.25s
	&__title
		font-family: "Open Sans"
		font-weight: bold
		font-size: 13px
		line-height: 18px
		color: $black-color
		margin-bottom: 7px
		text-transform: uppercase
	&__status
		font-family: "Roboto"
		font-size: 13px
		line-height: 15px
		color: $light-gray-color
		width: fit-content
		margin: auto
	&.ticket-success
		background: $green-color
		.ticket__status
			color: $gray-color
			padding-left: 15px
			position: relative
			&:before
				content: ''
				display: block
				height: 9px
				width: 12px
				position: absolute
				top: 2px
				left: -4px
				background-position: center
				background-repeat: no-repeat
				background-size: contain
				background-image: url('../img/success.svg')
	&-question
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		margin-bottom: 27px
		.h3
			text-align: center
			max-width: 929px
		.timer
			display: none	
	&-number
		width: 106px
		min-width: 106px
		font-family: "Open Sans"
		font-weight: bold
		font-size: 13px
		line-height: 18px
		text-transform: uppercase
		color: #999999
		padding-top: 2px

.exam
	width: 251px
	height: 120px
	background: #F4F4F4
	border-radius: 5px
	margin-right: 25px
	text-align: center
	transition: 0.25s
	padding-top: 36px
	text-decoration: none
	margin-bottom: 29px
	&:hover
		background: #E9EBEE
		transition: 0.25s
	&__title
		margin-bottom: 20px
		font-family: "Roboto"
		font-weight: bold
		font-size: 14px
		line-height: 16px
		text-transform: uppercase
		color: $black-color
	&__status
		font-family: "Roboto"
		font-size: 13px
		line-height: 15px
		color: $light-gray-color
	&.exam-success
		background: $green-color
		.exam__status
			color: $gray-color
			padding-left: 15px
			position: relative
			width: fit-content
			margin: auto
			&:before
				content: ''
				display: block
				height: 9px
				width: 12px
				position: absolute
				top: 2px
				left: -4px
				background-position: center
				background-repeat: no-repeat
				background-size: contain
				background-image: url('../img/success.svg')
	&.exam-passed
		background: #E9EBEE
		.exam__status
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			width: fit-content
			margin: auto
			margin-top: -7px
			.correct, .error
				height: 30px
				width: 30px
				min-width: 30px
				border-radius: 50px
				text-align: center
				line-height: 26px
				box-sizing: border-box
				font-family: "Open Sans"
				font-weight: bold
				font-size: 13px
			.correct
				color: $green-color
				border: 2px solid $green-color
				margin-right: 24px
				position: relative
				&:after
					content: ''
					display: block
					right: -25px
					height: 18px
					width: 1px
					background: $light-gray-color
					position: absolute
					top: 4px
			.error
				margin-left: 23px
				color: $red-color
				border: 2px solid $red-color


.question
	width: 251px
	height: 120px
	background: #F4F4F4
	border-radius: 5px
	margin-right: 25px
	text-align: center
	transition: 0.25s
	padding-top: 29px
	text-decoration: none
	margin-bottom: 29px
	&:hover
		background: #E9EBEE
		transition: 0.25s
	&__title
		margin-bottom: 6px
		font-family: "Roboto"
		font-weight: bold
		font-size: 14px
		line-height: 16px
		text-transform: uppercase
		color: $black-color
	&__number
		font-family: "Roboto"
		font-size: 15px
		line-height: 18px
		color: $black-color
		margin-bottom: 15px
	&__status
		font-family: "Roboto"
		font-size: 13px
		line-height: 15px
		color: $light-gray-color
	&.question-success
		background: $green-color
		.question__status
			color: $gray-color
			padding-left: 15px
			position: relative
			width: fit-content
			margin: auto
			&:before
				content: ''
				display: block
				height: 9px
				width: 12px
				position: absolute
				top: 2px
				left: -4px
				background-position: center
				background-repeat: no-repeat
				background-size: contain
				background-image: url('../img/success.svg')
	&.question-passed
		background: #E9EBEE
		.question__status
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			width: fit-content
			margin: auto
			margin-top: -7px
			.correct, .error
				height: 30px
				width: 30px
				min-width: 30px
				border-radius: 50px
				text-align: center
				line-height: 26px
				box-sizing: border-box
				font-family: "Open Sans"
				font-weight: bold
				font-size: 13px
			.correct
				color: $green-color
				border: 2px solid $green-color
				margin-right: 24px
				position: relative
				&:after
					content: ''
					display: block
					right: -25px
					height: 18px
					width: 1px
					background: $light-gray-color
					position: absolute
					top: 4px
			.error
				margin-left: 23px
				color: $red-color
				border: 2px solid $red-color


.message
	margin-bottom: 20px
	background: $blue-color
	border-radius: 10px
	padding: 5px 25px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	-webkit-align-items: center
	align-items: center
	&__icon
		height: 50px
		width: 50px
		margin-right: 23px
	&__text
		max-width: 784px
		color: $white-color
		font-family: "Roboto"
		font-weight: 400
		font-size: 16px
		line-height: 22px

.result
	margin-bottom: 48px
	&-item
		width: 33%
		height: 46px
		font-family: "Open Sans"
		font-weight: bold
		font-size: 13px
		line-height: 22px
		text-transform: uppercase
		padding-top: 14px
		position: relative
		span 
			font-size: 22px
			line-height: 18px
			.green
				color: $green-color
		&:before
			content: ''
			display: block
			height: 24px
			width: 24px
			top: 12px
			position: absolute
			background-position: center
			background-repeat: no-repeat
			background-size: contain
		&:nth-child(2)
			border-left: 1px solid #DBDBDB
			border-right: 1px solid #DBDBDB
			padding-left: 90px
			&:before
				left: 52px
				background-image: url('../img/clock.svg')
		&:nth-child(1)
			padding-left: 90px
			margin-top: -2px
			&:before
				left: 52px
				background-image: url('../img/correct.svg')
		&:nth-child(3)
			padding-left: 100px
			color: $red-color
			&:before
				left: 64px
				background-image: url('../img/mistake.svg')
.result-link
	text-align: center
	.btn-green
		margin: auto
		margin-bottom: 22px
	a:last-child
		margin-bottom: 29px
		display: block
		cursor: pointer
		font-family: "Roboto"
		font-size: 16px
		line-height: 19px
		text-decoration: underline
		color: $light-gray-color		

.wrong
	background: $white-color
	padding: 0 33px
	border-radius: 10px
	overflow: hidden
	padding-bottom: 27px
	margin-bottom: 12px
	&-header
		padding-top: 28px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		align-items: center
	&-number
		width: 106px
		min-width: 106px
		font-family: "Open Sans"
		font-weight: bold
		font-size: 13px
		line-height: 18px
		text-transform: uppercase
		color: #999999
	&-question
		max-width: 760px
		font-family: "Roboto"
		font-style: normal
		font-weight: 500
		font-size: 22px
		line-height: 24px
		color: $black-color
	&-btn
		margin-left: auto
		font-family: Roboto
		font-size: 13px
		line-height: 15px
		color: #030303
		position: relative
		padding-right: 34px
		cursor: pointer
		&:after
			content: ''
			display: block
			height: 7px
			width: 14px
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			background-image: url('../img/arrow-down.svg')
			position: absolute
			top: 0
			bottom: 0
			right: 0
			margin: auto
		&[data-open="open"]
			&:after
				transform: rotate(180deg)
	&-img
		width: 100%
		margin-top: 23px
		img
			width: 100%
			height: auto

	&-block
		padding-top: 21px
		padding-bottom: 12px
		display: none
		&.show
			display: block

.answer
	background: #f4f4f4
	border-radius: 10px
	padding: 18px 33px 18px 15px
	margin-bottom: 18px
	&-header
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	&-number
		display: block
		height: 24px
		width: 24px
		min-width: 24px
		border-radius: 50%
		border: 2px solid $black-color
		font-family: "Open Sans"
		font-weight: bold
		font-size: 13px
		line-height: 20px
		box-sizing: border-box
		color: $black-color
		text-align: center
	&-title
		font-family: "Roboto"
		font-size: 16px
		line-height: 22px
		color: #030303
		margin-left: 27px
		padding-top: 2px
		max-width: 784px
	&-info
		padding-left: 51px
		display: none
		.text
			font-family: "Roboto"
			font-size: 16px
			line-height: 22px
			color: $light-gray-color
			max-width: 784px
		hr
			border: none
			background-color: $green-color
			color: $green-color
			height: 1px
			margin: 16px 0
	&.answer-wrong
		background: #E9EBEE
		.answer-header
			.answer-number
				color: $red-color
				border-color: $red-color
			.answer-title
				color: $red-color
	&.answer-right
		.answer-info
			display: block
		.answer-header
			.answer-number
				color: $green-color
				border-color: $green-color
			.answer-title
				color: $green-color

.slick-arrow
	display: none !important
.sly-arrow
	position: absolute
	top: 0
	right: -20px
	height: 50px
	width: 20px
	background-repeat: no-repeat
	background-position: center
	background-color: $white-color
	background-image: url('../img/arrow-next.svg')
	background-size: 10px
	z-index: 5
	cursor: pointer
	display: none
.sly-wrap
	position: relative
.slider-number
	margin-bottom: 39px
	display: flex
	.slick-slide
		&:focus
			outline: none
			box-shadow: none
	&__item
		margin-right: 15px
		border-radius: 5px
		overflow: hidden
		display: block
		height: 50px
		width: 40px
		min-width: 40px
		text-align: center
		text-decoration: none
		cursor: pointer
		font-size: 13px
		font-weight: 600
		color: #030303
		line-height: 48px
		border: 1px solid #DBDBDB
		border-radius: 5px
		background: $white-color
		&:focus
			outline: none
		&.passed
			background: $green-color
			border-color: $green-color
		&.fail
			background: $red-color
			border-color: $red-color

.checkout-group
	width: 100%
	margin-bottom: 17px
	cursor: pointer
	position: relative
	color: #030303
	&__input
		padding: 0
		height: initial
		width: initial
		margin-bottom: 0
		display: none
		cursor: pointer
		&:checked + .checkout-group__label
			background: #E9EBEE
	&__label
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		-webkit-align-items: center
		align-items: center
		background: #F4F4F4
		border-radius: 10px
		padding: 13px 15px
		span
			display: block
			height: 24px
			width: 24px
			min-width: 24px
			border: 2px solid $black-color
			border-radius: 50%
			text-align: center
			line-height: 19.5px
			font-family: "Open Sans"
			font-weight: bold
			font-size: 13px
			margin-right: 27px
			box-sizing: border-box
	&__text
		font-family: "Roboto"
		font-size: 16px
		line-height: 22px
		max-width: 848px

.modal
	position: fixed
	height: 100%
	width: 100%
	top: 0
	left: 0
	background: rgba(15, 44, 167, 0.5)
	display: none
	&.show
		display: block
	&-body
		margin: auto
		margin-top: 100px
		background: $white-color
		border-radius: 10px
		width: 554px
		text-align: center
		padding: 11px 10px 37px 10px
	&-title
		margin-bottom: 31px
	&-close
		display: block
		height: 24px
		width: 24px
		margin-bottom: 25px
		background-image: url('../img/close.svg')
		background-repeat: no-repeat
		background-position: center
		background-size: contain
		cursor: pointer
		margin-left: auto
	&-link
		font-family: Roboto
		font-size: 16px
		line-height: 19px
		text-decoration: underline
		color: $light-gray-color
	&-btn
		margin: auto
		margin-bottom: 17px



@media screen and (max-width: 1200px)
	.exam
		width: 22%
		&:nth-child(4)
			margin-right: 0

	.question
		width: 22%
		&:nth-child(4)
			margin-right: 0
	


@media screen and (max-width: 992px)
	.tab
		padding-top: 21px
		border-radius: 0px
		padding-left: 15px
		padding-right: 15px
		&__content
			-webkit-justify-content: space-between
		  -moz-justify-content: space-between
		  -ms-justify-content: space-between
		  -o-justify-content: space-between
		  justify-content: space-between
		&__title
			line-height: 40px
		&__header
			position: relative
			margin-bottom: 10px
			&-select
				position: relative
				margin-bottom: 10px

			.come-back
				position: relative
				margin-bottom: 25px
				display: block
				width: fit-content
				&:before
					left: 0
			.timer
				display: none
		&__question
			padding: 0 0px 0 0px
		.link-more
			display: block
	
	.tab-nav
		-webkit-justify-content: space-between
	  -moz-justify-content: space-between
	  -ms-justify-content: space-between
	  -o-justify-content: space-between
	  justify-content: space-between
		&__item
			width: 32%
			height: 44px
			margin-right: 0
			font-size: 12px
			line-height: 14px
			padding-top: 2px
			text-align: left
			padding-right: 3px
		&__icon
			height: 40px
			width: 40px
			min-width: 40px
		&__text
			margin-left: 5px

	.ticket
		width: 120px
		height: 60px
		margin-right: 0px
		margin-bottom: 15px
		padding-top: 9px
		&.ticket-success
			.ticket__status
				padding-left: 12px
		&-question
			-webkit-flex-wrap: wrap
			flex-wrap: wrap
			margin-bottom: 27px
			.h3
				width: 100%
				margin-top: 10px
			.timer
				display: block
				margin-left: auto
				position: relative
				right: 0

		&-number
			width: 106px
			min-width: 106px
			font-family: "Open Sans"
			font-weight: bold
			font-size: 13px
			line-height: 38px
			text-transform: uppercase
			color: #999999
			padding-top: 2px

	.exam
		width: 31%
		height: 100px
		margin-right: 0px
		padding-top: 22px
		margin-bottom: 19px
		&.exam-success
			background: $green-color
			.exam__status
				color: $gray-color
				padding-left: 15px
				position: relative
				width: fit-content
				margin: auto
				&:before
					content: ''
					display: block
					height: 9px
					width: 12px
					position: absolute
					top: 2px
					left: -4px
					background-position: center
					background-repeat: no-repeat
					background-size: contain
					background-image: url('../img/success.svg')
		&.exam-passed
			background: #E9EBEE
			.exam__status
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				width: fit-content
				margin: auto
				margin-top: -7px
				.correct, .error
					height: 30px
					width: 30px
					min-width: 30px
					border-radius: 50px
					text-align: center
					line-height: 26px
					box-sizing: border-box
					font-family: "Open Sans"
					font-weight: bold
					font-size: 13px
				.correct
					color: $green-color
					border: 2px solid $green-color
					margin-right: 24px
					position: relative
					&:after
						content: ''
						display: block
						right: -25px
						height: 18px
						width: 1px
						background: $light-gray-color
						position: absolute
						top: 4px
				.error
					margin-left: 23px
					color: $red-color
					border: 2px solid $red-color

	.answer
		padding: 10px 10px 10px 10px
		margin-bottom: 15px
		&-title
			font-size: 15px
			line-height: 21px
			margin-left: 12px
		&-info
			padding-left: 38px
			display: none
			.text
				font-size: 15px
				line-height: 21px
			hr
				margin: 12px 0

	.question
		width: 31%
		height: 110px
		margin-right: 0px
		padding-top: 15px
		margin-bottom: 19px
		&__title
			font-size: 13px
			line-height: 15px
		&__number
			font-size: 13px
			line-height: 16px

	.checkout-group
		&__label
			-webkit-align-items: flex-start
			align-items: flex-start
			span
				margin-right: 12px
		&__text
			font-size: 15px
			line-height: 21px
			margin-top: 1px
	.sly-arrow
		display: block
		right: -10px
	.slider-number
		margin-bottom: 25px
		&__item
			margin-right: 6px

	.result
		display: block
		width: fit-content
		margin: auto
		margin-bottom: 10px
		&-item
			width: 100%
			padding-top: 14px
			display: block
			height: 59px
			padding-top: 18px
			&:before
				top: 16px
			&:nth-child(2)
				border-left: none
				border-right: none
				border-bottom: 1px solid #DBDBDB
				border-top: 1px solid #DBDBDB
				padding-left: 50px
				&:before
					left: 0px
			&:nth-child(1)
				padding-left: 50px
				&:before
					left: 0px
			&:nth-child(3)
				padding-left: 50px
				&:before
					left: 0px
	.wrong
		padding: 0 20px
		padding-bottom: 20px
		margin-bottom: 16px
		&-header
			padding-top: 20px
		&-question
			font-size: 16px
			line-height: 20px

	


@media screen and (max-width: 760px)
	.wrong
		padding: 0 15px
		border-radius: 0px
		padding-bottom: 20px
		&-header
			-webkit-flex-wrap: wrap
			flex-wrap: wrap
		&-number
			width: 106px
			min-width: 106px
			-webkit-order: 1
			order: 1
		&-question
			-webkit-order: 3
			order: 3
			width: 100%
			text-align: center
			margin-top: 15px
		&-btn
			-webkit-order: 2
			order: 2

	.courses
		&__wrap
			padding: 21px 16px
		&__title
			margin-bottom: 17px
			font-size: 18px
			line-height: 25px
		&__text
			font-size: 15px
			line-height: 18px
		&__info
			padding: 0 18px
			-webkit-flex-wrap: wrap
			flex-wrap: wrap
			height: 128px
			padding-bottom: 5px
		&__item
			border-radius: 10px
			-webkit-flex-wrap: wrap
			flex-wrap: wrap
			width: 328px
			height: 293px
			margin: auto
			margin-bottom: 18px
			-webkit-align-items: flex-start
			align-items: flex-start
			&-title
				margin-top: 10px
				height: 50px
				width: 100%
				border-bottom: 1px solid #999999
			&-image
				height: 165px
				width: 100%
				min-width: auto
				margin-right: 0px
			&-number
				margin-right: auto
				margin-left: 0
			&-time
				width: fit-content
				min-width: fit-content
	.favorite
		&__item
			min-width: 320px
			max-width: 400px
			width: calc(100% - 30px)


@media screen and (max-width: 576px)
	.select2-container
		width: 100%!important
		height: 38px
		.select2-selection
			height: 38px
			&__rendered
				line-height: 36px!important
			&__arrow
				height: 34px!important

	.content-page
		padding-top: 21px
		padding-bottom: 30px
		.container
			padding-right: 0
			padding-left: 0
			width: 100%

	.tab-nav
		&__item
			width: 33%
		&__text
			margin-left: 0px

	.ticket
		width: 31%
		min-width: 98px
		height: 60px
		margin-right: 0px
		margin-bottom: 15px
		padding-top: 9px
		&.ticket-success
			.ticket__status
				padding-left: 12px

	.message
		width: calc(100% - 30px)
		margin: auto
		margin-bottom: 15px
		padding: 5px 5px 0px 5px
		-webkit-align-items: flex-start
		align-items: flex-start
		&__icon
			margin-right: 4px
		&__text
			margin-top: 10px
			margin-bottom: 15px

	.exam
		width: 49%

	.question
		width: 49%

	.modal
		&-body
			width: calc(100% - 30px)
			text-align: center
			padding: 11px 10px 37px 10px
		&-title
			margin-bottom: 21px
		&-link
			font-size: 14px
			line-height: 18px
		&-btn
			width: 100%
			max-width: 260px
			height: 44px
			line-height: 44px
	.breadcrumbs
		margin-top: 0px
		margin-left: 16px
		


@media screen and (max-width: 360px)
	.tab-nav
		&__icon
			width: 30px
			min-width: 30px
			height: 30px
	.tab
		padding-left: 10px
		padding-right: 10px
	.sly-arrow
		display: none