.simulator-page
	font-family: "Roboto"
	color: #030303
	background: rgb(246, 246, 246)
	min-height: 100vh
	&__title
		text-align: center
		font-weight: 500
		font-size: 24px
		line-height: 25px
		text-transform: uppercase
		color: #030303
		margin-bottom: 10px
		padding-top: 32px
	&__subtitle
		font-weight: 500
		font-size: 18px
		line-height: 19px
		text-align: center
		margin-bottom: 47px
	.text
		text-align: center
		font-size: 14px
		line-height: 18px
		max-width: 950px
		margin: auto
	&__table
		width: 100%
		margin-bottom: 40px
	.table
		margin-top: 20px
		&-row
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			-webkit-align-items: center
			align-items: center
			border-top: 1px solid #030303
			min-height: 65px
			&:first-child
				border-top: none
				text-align: center
		&-col
			width: calc(100% / 3)
			height: 100%
			padding: 15px 0
			box-sizing: border-box
			&:first-child
				padding-left: 45px
				padding-right: 40px
				font-weight: bold
				border-top: none
			&:nth-child(2)
				border-left: 1px solid #030303
				border-right: 1px solid #030303
				padding-left: 56px
				padding-right: 29px
			&:nth-child(3)
				padding-left: 31px
		.pt-1
			padding-top: 10px
		.pb-1
			padding-bottom: 10px
		.simulator-button
			cursor: default
			&:focus
				outline: none
			&:hover
				background: #00D1FF
	.icon
		display: inline-block
		vertical-align: sub
		margin: 0 10px
		background-position: center
		background-repeat: no-repeat
		background-size: contain
	.icon-mouse
		background-image: url('../img/mouse-left.svg')
		height: 38px
		width: 38px
	.icon-up-down
		background-image: url('../img/ar-up-down.svg')
		height: 38px
		width: 38px
		vertical-align: middle
	.icon-all-btn
		background-image: url('../img/all-btn.svg')
		height: 38px
		width: 58px
	.icon-left
		background-image: url('../img/arro-left.svg')
		height: 21px
		width: 17px
	.icon-right
		background-image: url('../img/arrow-right.svg')
		height: 21px
		width: 17px
	.icon-keyboard
		height: 56px
		width: auto
.simulator
	font-family: "Roboto"
	&-timer
		background: #E5E5E5
		height: 66px
		padding: 26px 22px 20px 22px
		font-family: Roboto;
		font-size: 14px
		line-height: 15px
		text-align: right
		color: #030303
	&-progress
		padding: 22px 0
		&__item
			height: 22px
			width: 22px
			min-width: 22px
			margin-right: 8px
			border: 1px solid #C4C4C4
			box-sizing: border-box
			&.passed
				background: #C4C4C4
	&-questions
		&__col
			width: 24%
			min-width: 24%
			border-radius: 10px
			overflow: hidden
			border-width: 4px
			border-style: solid
			border-color: inherit
			box-sizing: border-box
			margin-right: 1.3%
			&:last-child
				margin-right: 0
		&__item
			width: 100%
			height: 113px
			box-sizing: border-box
			background: $white-color
			position: relative
			border-bottom-width: 3px
			border-bottom-style: solid
			border-color: inherit
			display: block
			position: relative
			text-decoration: none
			&:before
				content: ''
				display: none
				width: calc(100% + 3px)
				height: calc(100% + 2px)
				border-width: 4px
				border-style: solid
				border-color: inherit
				position: absolute
				top: -2px
				right: -1px
				z-index: 5
				box-sizing: border-box
			&:last-child
				border-bottom: none
				&:before
					border-radius: 0 0 10px 10px
			&:first-child:before
				border-radius: 10px 10px 0 0
			.number
				font-size: 12px
				font-weight: 600
				line-height: 1
				color: #030303
				position: absolute
				top: 12px
				left: 11px
			&:hover
				cursor: pointer
				&:before
					display: block
		&__content
			height: fit-content
			position: absolute
			width: 90%	
		.content-text
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
		.content-image
			top: 0
			left: 0
			right: 0
			margin: auto
		img
			display: block
			max-width: 202px
			margin: auto
			height: auto
		p
			font-size: 11px
			line-height: 1
			color: #030303
			text-align: center
		.col-green
			border-color: $green-color
			.simulator-questions__item
				border-color: $green-color
		.col-violet
			border-color: #9B51E0
			.simulator-questions__item
				border-color: #9B51E0
		.col-blue
			border-color: #2F80ED
			.simulator-questions__item
				border-color: #2F80ED
		.col-orange
			border-color: #FBC919
			.simulator-questions__item
				border-color: #FBC919
		.answered
			background: #E5E5E5
		.result-right, .result-failed, .result-empty
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			margin: auto
			width: 165px
			height: 44px
			text-align: center
			font-size: 14px
			line-height: 18px
			z-index: 3
			padding-top: 13px
			color: #030303
			display: block
		.result-right
			background: #36E232
		.result-failed
			background: #EB5757
		.result-empty
			background: #FBC919
.simulator-question
	padding-top: 54px
	&__text
		margin: 23px 0
		font-weight: 500
		font-size: 18px
		line-height: 19px
		color: #030303
		text-align: center
	&__image
		max-width: 557px
		margin: auto
		display: block
	.simulator-option
		width: 100%
		position: relative
		height: auto
		cursor: pointer
		input
			padding: 0
			height: inherit
			width: inherit
			margin-bottom: 0
			display: none
			cursor: pointer
			&:checked + label
				background: #3BD5A7
		label
			display: block
			position: relative
			padding: 22px 26px 22px 26px
			margin-bottom: 4px
			border: 1px solid #C4C4C4
			box-sizing: border-box
			width: 100%
			height: auto
			font-size: 18px
			line-height: 19px
			color: #030303
			cursor: pointer
			transition: 0.25s
		&:hover
			transition: 0.25s
			label
				background: #C4C4C4
	.simulator-option__block
		display: block
		position: relative
		padding: 22px 26px 22px 26px
		margin-bottom: 4px
		border: 1px solid #C4C4C4
		box-sizing: border-box
		width: 100%
		height: auto
		font-size: 18px
		line-height: 19px
		color: #030303
		&.right
			background: #3BD5A7
		&.failed
			background: #EB5757
.simulator-comment
	padding-top: 42px
	.simulator-question
		padding-top: 15px
		width: calc(100% - 300px)
		.row-btn
			.simulator-button:first-child
				margin-right: 0
				margin-left: auto
	&__block
		width: 270px
		padding-left: 43px
		border-left: 1px solid #e5e5e5
		font-size: 15px
		line-height: 20px
		color: #5A5A5A
		margin-left: 30px
		.title
			font-size: 18px
			line-height: 19px
			margin-bottom: 20px
			color: #030303
		p
			margin-bottom: 15px

.simulator-button
	background: #00D1FF
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
	border-radius: 6px
	display: block
	cursor: pointer
	font-size: 14px
	text-align: center
	color: #030303
	line-height: 44px
	height: 44px
	min-width: 165px
	width: fit-content
	padding-right: 15px
	padding-left: 15px
	text-decoration: none
	transition: 0.25s
	border: none
	&:hover
		background: #3CC6E4
		transition: 0.25s
	&[disabled]
		background: #C4C4C4
		cursor: default
	&.prev
		position: relative
		text-align: right
		padding-right: 15px
		&:before
			content: ''
			display: block
			height: 16px
			width: 18px
			background-image: url('../img/ar-right.svg')
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			position: absolute
			left: 15px
			top: 13px
	&.next
		position: relative
		text-align: left
		padding-left: 15px
		&:before
			content: ''
			display: block
			height: 16px
			width: 18px
			background-image: url('../img/ar-left.svg')
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			position: absolute
			right: 15px
			top: 13px

.simulator-form
	.row-btn
		margin-top: 22px
		.simulator-button
			margin-left: 31px
			&:first-child
				margin-left: 0
				margin-right: auto

.simulator-modal
	position: fixed
	height: 100%
	width: 100%
	top: 0
	left: 0
	background: rgba(15, 44, 167, 0.5)
	display: none
	z-index: 10
	&.show
		display: block
	&__body
		margin: auto
		margin-top: 100px
		width: 588px
		text-align: center
		padding: 41px 40px 0px 40px
		height: 238px
		color: #030303
		&.failed
			background: #EB5757
		&.success
			background: #36E232
		&.error
			background: #FBC919
		.simulator-button
			margin: auto
	&__title
		font-size: 24px
		line-height: 25px
		margin-bottom: 20px
		text-transform: uppercase
		font-weight: 600
	&__text
		font-size: 18px
		line-height: 20px
		margin-bottom: 20px

@media screen and (max-width: 1200px)
	.container
		width: 960px
	.simulator-page
		.table
			&-col
				&:first-child
					padding-left: 15px
					padding-right: 15px
				&:nth-child(2)
					padding-left: 25px
					padding-right: 25px
				&:nth-child(3)
					padding-left: 15px



@media screen and (max-width: 992px)
	.container
	    width: calc(100% - 30px)
	.simulator-page
		.table
			&-col
				&:nth-child(1)
					width: 30%
					min-width: 30%
				&:nth-child(2)
					width: 36%
					min-width: 36%
				.flex
					flex-wrap: wrap
				&:nth-child(2)
					padding-left: 15px
					padding-right: 15px