$black-color: #000000

$white-color: #fff

$gray-color: #4F4F4F

$blue-color: #0F2CA7

$green-color: #36E232

$light-gray-color: #999999

$dark-gray-color: #555555

$bg-color: #e5e5e5

$red-color: #FF4D43

$orange-color: #F2C94C

$yellow-color: #B7E92B

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap')


@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap')

@font-face
  font-family: 'Proxima Nova'
  src: url('../fonts/ProximaNova-Regular.eot')
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),  url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'),  url('../fonts/ProximaNova-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Proxima Nova'
  src: url('../fonts/ProximaNova-Bold.eot')
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'), url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Proxima Nova'
  src: url('../fonts/ProximaNova-Light.ttf')
  src: local('Proxima Nova Light'), local('ProximaNova-Light'), url('../fonts/ProximaNova-Light.ttf') format('truetype')
  font-weight: lighter
  font-style: normal

@font-face 
  font-family: 'Proxima Nova Semibold'
  src: url('../fonts/ProximaNova-Semibold.eot')
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype')
  font-weight: normal
  font-style: normal


/**/

@function get-vw($target)
  $vw-context: (1280 * 0.01) * 1px
  @return ($target / $vw-context) * 1vw

@function get-vw-t($target)
  $vw-context: (1024 * 0.01) * 1px
  @return ($target / $vw-context) * 1vw

@function get-vw-p($target)
  $vw-context: (768 * 0.01) * 1px
  @return ($target / $vw-context) * 1vw

/**/
.gray-bg
  background: $bg-color

.h1
  font-family: "Roboto"
  font-weight: 500
  font-size: 48px
  line-height: 48px

.h2
  font-family: "Roboto"
  font-weight: 600
  font-size: 24px
  line-height: 34px
  text-transform: uppercase

.h3
  font-family: "Roboto"
  font-weight: 500
  font-size: 22px
  line-height: 24px
  color: #030303

.subtitle1
  font-family: "Open Sans"
  font-weight: 600
  font-size: 16px
  line-height: 24px
  color: $black-color

.subtitle2
  font-family: "Open Sans"
  font-weight: 600
  font-size: 14px
  line-height: 20px
  text-align: center

.text
  font-family: "Roboto"
  font-weight: 400
  font-size: 18px
  line-height: 21px

.text2
  font-family: "Roboto"
  font-weight: 400
  font-size: 16px
  line-height: 22px
  color: $gray-color

.text-center
  text-align: center

.mx-auto
  margin-left: auto
  margin-right: auto

@media screen and (max-width: 992px)
  .h1
    font-size: 30px
    line-height: 30px

@media screen and (max-width: 576px)
  .h1
    font-size: 24px
    line-height: 28px
    
  .h2
    font-size: 18px
    line-height: 25px

  .h3
    font-size: 16px
    line-height: 20px